---
    import "../../../lib/css/main.css"
    import TopBar from "../../../lib/views/home/top-bar.svelte"

    import Facebooksm from '../../../lib/components/svgs/fb.svelte'
  import Twitter from "../../../lib/components/svgs/x-svg.svelte";
 import LinkedIn from "../../../lib/components/svgs/linked-svg.svelte";
import Gmail from "../../../lib/components/svgs/gmail-svg.svelte";
import LinkedInSmSvg from "../../../lib/components/svgs/linkedIn-sm-svg.svelte";

import Footer from "../../../lib/views/home/footer.astro";


// import Footer from "../../../"
---

<TopBar client:only="svelte" />
<section class="page" >
  <header class="header-c">
    <nav>
      <ul>
        <li>Home</li>
        <span>></span>
        <li>Resources</li>
        <span>></span>
        <li>Case Studies</li>
      </ul>
    </nav>
  </header>

  <main class="case-studies-section" >
      <div class="featured-study-header">
        <div class="date" >
          <span>April 16, 2024</span>
          <h2>Geospatial data use improves healthcare delivery across five countries</h2>
          <div class="social-media" >
            <div>
              <Facebooksm />
            </div>
            <div>
              <Gmail />
            </div>
            <div>
              <Twitter />
            </div>
            <div>
              <LinkedIn />
            </div>
          </div>
        </div>
      </div>

      <div class="flex">
        <div class="case-desc">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio veritatis at ipsa cupiditate corporis corrupti cum eos perspiciatis, adipisci pariatur. Ipsam dignissimos officia sint. Porro iure reprehenderit eligendi quo et neque suscipit eveniet inventore provident deserunt sint illo vero molestiae assumenda, aliquam error fugit omnis. Fugiat id eos quidem odit.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At atque rerum quidem praesentium, nisi magnam quaerat harum maiores dolore alias nostrum aspernatur soluta quisquam quas nobis cumque aliquid voluptatem quasi consequuntur omnis, voluptates eius qui? Ut maxime, dignissimos distinctio architecto corrupti temporibus impedit autem, sed facilis, voluptate qui quae a.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus laborum, dignissimos cupiditate repudiandae doloribus eum iusto pariatur ratione fugit quod, labore voluptatem eius? Officia obcaecati error unde excepturi, a sequi?
          </p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio veritatis at ipsa cupiditate corporis corrupti cum eos perspiciatis, adipisci pariatur. Ipsam dignissimos officia sint. Porro iure reprehenderit eligendi quo et neque suscipit eveniet inventore provident deserunt sint illo vero molestiae assumenda, aliquam error fugit omnis. Fugiat id eos quidem odit.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At atque rerum quidem praesentium, nisi magnam quaerat harum maiores dolore alias nostrum aspernatur soluta quisquam quas nobis cumque aliquid voluptatem quasi consequuntur omnis, voluptates eius qui? Ut maxime, dignissimos distinctio architecto corrupti temporibus impedit autem, sed facilis, voluptate qui quae a.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus laborum, dignissimos cupiditate repudiandae doloribus eum iusto pariatur ratione fugit quod, labore voluptatem eius? Officia obcaecati error unde excepturi, a sequi?
          </p>
          <h3 class="subtitle" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, aliquam.</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, cupiditate possimus sed perspiciatis dolorem nihil delectus id facilis quam, expedita porro! Quod doloremque reprehenderit iusto quidem hic quam? Quisquam, ipsum?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti, quas eum ea ipsa harum voluptates molestiae autem quam nihil unde nulla optio, beatae totam odio fugit debitis cupiditate officiis. Illo?
          </p>
          <br />
          <br />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quae fuga corrupti nemo debitis quaerat sunt quisquam laboriosam. Illo reprehenderit sapiente, laborum repellendus sequi laudantium?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente, saepe. Aspernatur distinctio, laudantium saepe commodi enim eveniet iusto? Culpa accusantium accusamus blanditiis quasi at voluptas impedit odit
          </p>
          <br />
          <br />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quae fuga corrupti nemo debitis quaerat sunt quisquam laboriosam. Illo reprehenderit sapiente, laborum repellendus sequi laudantium?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente, saepe. Aspernatur distinctio, laudantium saepe commodi enim eveniet iusto? Culpa accusantium accusamus blanditiis quasi at voluptas impedit odit
          </p>
          <br />
          <br />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quae fuga corrupti nemo debitis quaerat sunt quisquam laboriosam. Illo reprehenderit sapiente, laborum repellendus sequi laudantium?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente, saepe. Aspernatur distinctio, laudantium saepe commodi enim eveniet iusto? Culpa accusantium accusamus blanditiis quasi at voluptas impedit odit
          </p>
        </div>

        <div class="right-sec">
          <div class="metadata">
            <div>
              <h5>Programs</h5>
              <p>Oxygen, sickle cell Disease, universal Health coverage, Vaccines</p>
            </div>
            <div>
              <h5>Countries</h5>
              <p>Democratic republic of Congo, Ethopia, Ghana, Kenya, Sierra Leone</p>
            </div>
          </div>
          <div class="other-studies">
            <h5>Other case Studies</h5>
            <div class="study-container">
              <h6>Twiga Foods Soko Yetu CLM</h6>
              <p>Twiga Foods is a technology-driven company that connects consume providing access to high quality foods, products and retail services ir embedded analytics supports digital strategy by providing value-addi of Twigas' Digital platforms. Statsspeak team has also worked with T the data warehouse from a PostgreSQL database to a more secure ( spearheading the back-end Design and Architecture.</p>
            </div>
            <div class="study-container">
              <h6>Amref</h6>
              <p>Statsspeak has supported Amref health in Africa in developing enterprise wide.</p>
            </div>
            <div class="study-container">
              <h6>Data Analytics Platform for MOH</h6>
              <p>Kenya that provides visibility into the deployment of PrimaryCare Networks across Kenya. This system integrates with four other HMIS systems to provide real time performance metrics and data stories aiding fast and efficient decision making across the country.</p>
            </div>
            <div class="study-container">
              <h6>Chanjo e-LIMS GOK-MOH</h6>
              <p>Statsspeak was tasked by the Clinton Health Access Initiative to support the organization leverage on the Ministry of Health vaccine supply chain data to inform data driven decision making approaches</p>
            </div>
          </div>
          <div>
            <button class="btn-res">
              <a href="/resources">
                Browse Resources
              </a>
            </button>
          </div>
        </div>
      </div>

  </main>

</section>
<Footer />

<style>

  .page {
    /* border: 1px solid red; */
    margin-block: 6%;
  }

  .flex {
    /* border: 1px solid red; */
    display: flex;
    min-width: 100%;
    gap: 2em;
    justify-content: space-between;
    margin-top: 8em;
  }

  .header-c {
    /* border: 1px solid red; */
    /* max-width: 1600px; */
    margin-left: 10%;
  }

  .header-c nav ul {
    display: flex;
    gap: 1em;
    list-style-type: none;
  }

  .header-c nav ul li {
    font-size: 1.25em;
  }

  .header-c nav ul li:hover {
    border-bottom: 1px solid white;
  }

  .case-studies-section {
    max-width: 80%;
    margin-inline-start: 10%;
    margin-inline-end: 10%;
    margin-top: 2%;
    /* border: 1px solid red; */
  }

  .date span {
    color: var(--date-text);
    font-weight: bold;
    /* margin-bottom: 2em; */
  }

  .date h2 {
    color: var(--description-text);
    font-size: 3em;
    margin-top: .5em;
  }

  .social-media {
    margin-top: 1em;
    display: flex;
    gap: .85em;
  }

  .social-media div:hover {
    cursor: pointer;
  }

  .case-desc {
    /* border: 1px solid red; */
    max-width: 900px;
    line-height: 1.6;
  }

  .case-desc h3 {
    color: var(--description-text);
    margin-block: 2em;
  }

  .right-sec {
    /* border: 1px solid red; */
    margin-inline: 8em;
    padding-inline: 2em;
  }

  .metadata {
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
    gap: 2em;
    border-bottom: var(--service-border);
  }

  .metadata div {
    display: flex;
    gap: 2em;
    /* align-items: center; */
    /* border: 1px solid red; */
    max-width: 70%;
    /* padding-block: 2em; */
  }

  .metadata div h5 {
    color: var(--description-text);
  }

  .other-studies {
    margin-top: 2em;
  }

  .other-studies h5 {
    color: var(--description-text);
    font-size: 2em;
    margin-bottom: 2.5em;
  }


  .study-container {
    border-bottom: var(--service-border);
    margin-block: 2em;
    padding-bottom: 1.5em;
  }

  .study-container h6 {
    color: var(--hero-button-bg);
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 1em;
    /* border: 1px solid red; */
  }

  .btn-res a{
    /* width: 300px; */
    text-decoration: none;
    color: var(--description-text)
  }

</style>