---
import "../../../lib/css/main.css";
import TopBar from "../../../lib/views/home/top-bar.svelte";

import Facebooksm from "../../../lib/components/svgs/fb.svelte";
import Twitter from "../../../lib/components/svgs/x-svg.svelte";
import LinkedIn from "../../../lib/components/svgs/linked-svg.svelte";
import Gmail from "../../../lib/components/svgs/gmail-svg.svelte";
import LinkedInSmSvg from "../../../lib/components/svgs/linkedIn-sm-svg.svelte";

import Footer from "../../../lib/views/home/footer.astro";

// import Footer from "../../../"
---

<TopBar client:only="svelte" />
<section class="page" >
  <header class="header-c">
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <span>></span>
        <li><a href="/resources">Resources</a></li>
        <span>></span>
        <li><a href="/resources/case-studies">Case Studies</a></li>
      </ul>
    </nav>
  </header>

  <main class="case-studies-section" >
      <div class="featured-study-header">
        <div class="date" >
          <span>April 16, 2024</span>
          <h2>Geospatial data use improves healthcare delivery across five countries</h2>
          <div class="social-media" >
            <div>
              <Facebooksm />
            </div>
            <div>
              <Gmail />
            </div>
            <div>
              <Twitter />
            </div>
            <div>
              <LinkedIn />
            </div>
          </div>
        </div>
      </div>

      <div class="flex">
        <div class="case-desc">
          <p>Over the last decades, the ability to collect and use data for making decisions has increasingly become important—from transportation, entertainment, marketing to even the health industry. Yet, the ability to collect and use quality data for informed decisions is not evenly distributed across the world. Low- and middle-income countries are increasingly seeing the benefit and making use of data for effective decision making—from education, housing, immigration to health.
            Health programs need quality data to identify high-risk groups, disease hot spots and drivers of disease to inform routine service delivery. Without quality data, it is challenging for health facilities at all levels of care to make informed decisions about where to deploy services, who to target, and the best way to deliver them. As a result, many communities get missed by health programs, and are vulnerable to disease outbreaks. Use of accurate geospatial data can provide solutions for efficient and effective planning and service delivery.</p>
          <h3 class="subtitle" >Using geospatial data to improve service delivery</h3>
          <p>
            CHAI is supporting partner countries to close data gaps by strengthening data collection, management and monitoring and
            evaluation systems to improve health service delivery. We introduce digital health solutions to make it easier to manage
            and use data and train health workers to use and maintain the systems independent of our support both in the short and long-run.
            GRID3, in combination with other geospatial data, was used in estimating target populations for services, defining operational health
            catchment areas, and visualizing settled areas nationwide, road networks, and other points of interest.
          </p>
          <br />
          <br />
          <p>
            For the last two years, CHAI through the Exemplar Utilization of GRID3 (Georeferenced Infrastructure and Demographic Data
            for Development) Data project has been working with partner countries—Democratic Republic of Congo (DRC), Ethiopia, Ghana,
            Kenya, and Sierra Leone— to raise awareness on and test applications of GRID3 data to inform program planning and health
            service delivery. GRID3 works with countries to generate, validate, and use core geospatial data layers on population, settlements, infrastructure, and boundaries to inform program planning.
            The project aimed to use geospatial data to improve access to health services, particularly for underserved communities.
          </p>
          <br />
          <br />
          <p>
            Geospatial data helps ministries of health understand the geographic distribution of populations, disease burden, available healthcare resources,
            and infrastructure, including road networks to aid decision-making processes. Working alongside ministries of health, we helped our
            partner countries use geospatial data including GRID3, in assessing health service coverage to help improve the delivery of services.
          </p>
          <br />
          <br />
          <p>
            In the DRC, we were able to identify optimal locations for community care sites to bring a minimum package of services closer to
            communities living remotely from health facilities; in Ethiopia, we helped determine optimal locations for additional sites for
            oxygen plants to serve more people; in Ghana, we identified potential additional sites for screening children with sickle cell
            disease; in Kenya, we helped map operational health catchment areas and identify children missed during vaccinations,
            and finally, in Sierra Leone, we supported the ministry of health use microplanning maps to introduce
            the human papillomavirus vaccine.
          </p>
        </div>

        <div class="right-sec">
          <div class="metadata">
            <div>
              <h5>Programs</h5>
              <p>Oxygen, sickle cell Disease, universal Health coverage, Vaccines</p>
            </div>
            <div>
              <h5>Countries</h5>
              <p>Democratic republic of Congo, Ethopia, Ghana, Kenya, Sierra Leone</p>
            </div>
          </div>
          <div class="other-studies">
            <h5>Other case Studies</h5>
            <div class="study-container">
              <h6>Twiga Foods Soko Yetu CLM</h6>
              <p>Twiga Foods is a technology-driven company that connects consume providing access to high quality foods, products and retail services ir embedded analytics supports digital strategy by providing value-addi of Twigas' Digital platforms. Statsspeak team has also worked with T the data warehouse from a PostgreSQL database to a more secure ( spearheading the back-end Design and Architecture.</p>
            </div>
            <div class="study-container">
              <h6>Amref</h6>
              <p>Statsspeak has supported Amref health in Africa in developing enterprise wide.</p>
            </div>
            <div class="study-container">
              <h6>Data Analytics Platform for MOH</h6>
              <p>Kenya that provides visibility into the deployment of PrimaryCare Networks across Kenya. This system integrates with four other HMIS systems to provide real time performance metrics and data stories aiding fast and efficient decision making across the country.</p>
            </div>
            <div class="study-container">
              <h6>Chanjo e-LIMS GOK-MOH</h6>
              <p>Statsspeak was tasked by the Clinton Health Access Initiative to support the organization leverage on the Ministry of Health vaccine supply chain data to inform data driven decision making approaches</p>
            </div>
          </div>
          <div>
            <button class="btn-res">
              <a href="/resources">
                Browse Resources
              </a>
            </button>
          </div>
        </div>
      </div>

  </main>

</section>
<Footer />

<style>

  .page {
    /* border: 1px solid red; */
    margin-block: 6%;
    transition: all 0.3s ease;
  }


  .header-c {
    margin-left: 10%;
    margin-top: 8%;
  }

  .header-c nav ul {
    display: flex;
    gap: 1em;
    list-style-type: none;
  }

  .header-c nav ul li a {
    font-size: 1.25em;
    text-decoration: none;
    color: var(--description-text);
  }

  .header-c nav ul li:hover {
    border-bottom: 1px solid var(--text-color);
  }

  .case-studies-section {
    max-width: 80%;
    margin-inline-start: 10%;
    margin-inline-end: 10%;
    margin-top: 2%;
    /* border: 1px solid red; */
  }

  .date span {
    color: var(--date-text);
    font-weight: bold;
    /* margin-bottom: 2em; */
  }

  .date h2 {
    color: var(--description-text);
    font-size: 3em;
    margin-top: .5em;
  }

  .social-media {
    margin-top: 1em;
    display: flex;
    gap: .85em;
  }

  .social-media div:hover {
    cursor: pointer;
  }

  .flex, .right-sec {
    margin-top: 2em;
  }



  .case-desc h3 {
    color: var(--description-text);
    margin-block: 2em;
  }



  .metadata {
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
    gap: 2em;
    border-bottom: var(--service-border);
  }

  .metadata div {
    display: flex;
    gap: 1em;
    /* align-items: center; */
    /* border: 1px solid red; */
    max-width: 90%;
    /* padding-block: 2em; */
  }

  .metadata div h5 {
    color: var(--description-text);
  }

  .other-studies {
    margin-top: 2em;
  }

  .other-studies h5 {
    color: var(--description-text);
    font-size: 2em;
    margin-bottom: 2.5em;
  }


  .study-container {
    border-bottom: var(--tab-border);
    margin-block: 2em;
    padding-bottom: 1.5em;
  }

  .study-container:hover {
    /* border: var(--hero-button-bg); */
    cursor: pointer;
    /* padding-left: 10px; */
    transition: all 0.3s ease;
  }

  .study-container h6 {
    color: var(--constant-blue);
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 1em;
    /* border: 1px solid red; */
  }

  .btn-res a{
    /* width: 300px; */
    text-decoration: none;
    color: var(--description-text)
  }

  @media (min-width: 1200px) {
    .flex {
    /* border: 1px solid red; */
    display: flex;
    min-width: 100%;
    gap: 2em;
    justify-content: space-between;
    margin-top: 8em;
  }

  .header-c {
    margin-top: 0%;
  }

  .case-desc {
    /* border: 1px solid red; */
    max-width: 900px;
    line-height: 1.6;
    margin-top: -4em;
  }

  .right-sec {
    /* border: 1px solid red; */
    margin-inline: 8em;
    padding-inline: 2em;
    margin-top: -4em;
  }

  }

</style>