---
import "../../lib/css/main.css";
import Footer from "../../lib/views/home/footer.astro";
import PressReleases from "../../lib/views/home/press-releases.svelte";
import TopBar from "../../lib/views/home/top-bar.svelte";
import ReviewStudies from "../../lib/views/home/reviews-studies.svelte"


const blogs = [
  {
    title: "Blog Post 1",
    description: "This is the first blog post.",
    date: "2023-01-01",
    image: "blogs/blog-1.jpg",
  },
  {
    title: "Blog Post 2",
    description: "This is the second blog post.",
    date: "2023-01-02",
    image: "https://via.placeholder.com/150",
  },
  {
    title: "Blog Post 3",
    description: "This is the third blog post.",
    date: "2023-01-03",
    image: "https://via.placeholder.com/150",
  },
  {
    title: "Blog Post 4",
    description: "This is the fourth blog post.",
    date: "2023-01-04",
    image: "https://via.placeholder.com/150",
  },
  {
    title: "Blog Post 5",
    description: "This is the fifth blog post.",
    date: "2023-01-05",
    image: "https://via.placeholder.com/150",
  },
  {
    title: "Blog Post 6",
    description: "This is the sixth blog post.",
    date: "2023-01-06",
    image: "https://via.placeholder.com/150",
  }]

---

<TopBar client:only="svelte" />
<div class="page resources-section">
  <section class="header">
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li>></li>
        <li><a href="#" >Resources</a></li>
      </ul>
    </nav>
    <h3 class="section-heading">Featured Article</h3>
    <div class="resources-container">
      <div class="featured-article"  >
        <div class="article-card">
          <div class="article-card-image">
            <img src="/blogs/blog-1.jpg" alt="featured-img" />
          </div>
          <div class="author" >
            <p>By <span class="span-author" >Anne Ngatia</span> | June 20 2023 </p>
          </div>
          <div class="article-desc" >
            <h3>Demystifying Data: A Beginner's Guide to Data Consulting</h3>
            <p>
              From understanding the significance of quality data to implementing data-driven decision-making, we unravel the complexities of managing and optimizing your data.
            </p>
          </div>
          <div>
            <a href="/resources/blog-articles/one">
              <button>Read More &gt; </button>
            </a>
          </div>
        </div>

      </div>
      <div class="all-articles" >
        <div class="all-articles-header" >
          <h3 class="articles-heading" >All Articles</h3>
          <p><a href="/resources/blog-articles" >View All</a></p>
        </div>
        <div class="all-articles-container">
          <ul>
            <a href="/resources/blog-articles/one">
            <li>
              <div class="article-card">
                <div class="article-details" >
                  <p>By <span class="span-author" >Anne Ngatia</span> | June 14, 2023 </p>
                </div>
                <div>
                  <h3>Crafting Seamless Solutions: The Art of Software Consulting</h3>
                </div>
              </div>
            </li>
          </a>
          <a href="/resources/blog-articles/one">
            <li>
              <div class="article-card">
                <div class="article-details" >
                  <p>By <span class="span-author" >Anne Ngatia</span> | June 14, 2023 </p>
                </div>
                <div>
                  <h3>Demystifying Data: A Beginner's Guide to Data Consulting</h3>
                </div>
              </div>
            </li>
          </a>
          <a href="/resources/blog-articles/one">
            <li>
              <div class="article-card">
                <div class="article-details" >
                  <p>By <span class="span-author" >Anne Ngatia</span> | June 14, 2023 </p>
                </div>
                <div>
                  <h3>Data Governance: The Key to Unlocking Data's Full Potential</h3>
                </div>
              </div>
            </li>
            </a>
            <a href="/resources/blog-articles/one">
            <li>
              <div class="article-card">
                <div class="article-details" >
                  <p>By <span class="span-author" >Anne Ngatia</span> | June 14, 2023 </p>
                </div>
                <div>
                  <h3>The Rise of AI in Software Development</h3>
                </div>
              </div>
            </li>
            </a>
            <a href="/resources/blog-articles/one">
            <li>
              <div class="article-card">
                <div class="article-details" >
                  <p>By <span class="span-author" >Anne Ngatia</span> | June 14, 2023 </p>
                </div>
                <div>
                  <h3>Demystifying Data: A Beginner's Guide to Data Consulting</h3>
                </div>
              </div>
            </li>
            </a>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <div class="outer-container  resources-page-container" >
    <PressReleases client:only="svelte" />
    <ReviewStudies client:only="svelte" />
  </div>
  <Footer />
</div>


<style>
.header {
  min-width: 100vw;
  min-height: 5vh;
  color: var(--text-color);
  margin-top: 8em;
}

.outer-container {
  margin-top: -5%;
  padding: 0;
}

a {
  text-decoration: none;
}

.resources-page-container :global(.case-studies),
.resources-page-container :global(.blog) {
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.header nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 3em;
  margin-left: 5%;
}

.header nav ul li {
  list-style: none;
  font-size: 1.5rem;
}

.header nav ul li a {
  text-decoration: none;
  color: var(--text-color);
}

.section-heading {
  margin-left: 5%;
  margin-top: 1em;
  color: var(--description-text);
}

.resources-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 3em;
  margin-inline: 5%;
  min-width: auto;
  min-height: auto;
  /* border: 1px solid red; */
}

.featured-article {
  width: 100%;
  /* height: 100%; */
  max-width: 100%;
    /* border: 1px solid red; */
}

.article-card {
  width: 100%;
  border: 1px solid gray;
  padding: 1em;
}

.article-card-image img {
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
  object-fit: cover;
  padding-bottom: 1em;
}

.article-desc {
  margin-block: 1em;
}

.article-desc p {
  margin-bottom: 2em;
}

.articles-heading {
  color: var(--description-text);
}

.article-desc h3 {
  font-size: 1.8em;
  color: var(--description-text);
  margin-bottom: .5em;
}

.all-articles {
  margin-top: 2em;
  width: 100%;
}

.all-articles-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1em;
}

.all-articles-header a {
  color: var(--text-color);
}

.all-articles-container {
  margin-inline: 1em;
  margin-top: 2em;
  max-width: 100%;
}

.all-articles-container ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0;
}

.all-articles-container ul a {
  text-decoration: none;
  color: var(--text-color);
}

.all-articles-container ul li {
  list-style: none;
}

.all-articles-container ul .article-card {
  margin-top: 0;
  border: none;
  padding: 1em;
}

.all-articles-container ul .article-card:hover {
  border: 1px solid #00ABC8;
  cursor: pointer;
  border-radius: 10px;
}

.all-articles-container ul .article-card .article-details {
  margin-bottom: 1em;
}

.all-articles-container ul .article-card h3 {
  font-size: 1.5rem;
  color: var(--description-text);
}

.span-author {
  color: #FAA51A;
}

/* Responsive Design */
@media (min-width: 481px) and (max-width: 767px) {
  .resources-container {
    margin-inline: 5%;
    border: 1px solid red;
  }

  .article-desc h3 {
    font-size: 1.5em;
  }

  .featured-article {
    width: 100%;
    /* height: 100%; */
    max-width: 100%;
    border: 1px solid red;
  }

  .all-articles-container ul .article-card h3 {
    font-size: 1.3rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .resources-container {
    margin-inline: 5%;
  }

  .article-desc h3 {
    font-size: 1.7em;
  }

  .all-articles-container ul .article-card h3 {
    font-size: 1.5rem;
  }
}


@media (min-width: 1024px) {
  .resources-container {
    margin-inline: 10%;
    display: flex;
    flex-direction: row;
  }

  .section-heading {
    margin-left: 10%;
  }

  .header nav {
    margin-left: 5%;
  }

  .all-articles {
    margin-top: -5%;
    padding: 1em;
  }

  .article-desc h3 {
    font-size: 2.2em;
  }

  .all-articles-container ul .article-card h3 {
    font-size: 2rem;
  }
}
</style>