---
import TabHead from "../../components/ui/tabs/TabHead.svelte";
import TabHeadItem from "../../components/ui/tabs/TabHeadItem.svelte";
import Tabs from "../../components/ui/tabs/Tabs.svelte";
import TabPanel from "../../components/ui/tabs/TabPanel.svelte";
import BlueCheckmark from "../../components/svgs/blue-checkmark.svelte";
---

<div id="about-us" class="inline-container">
	<div class="inner-container">
		<p class="font-secondary subtitle">About Us</p>
		<h2 class="title">We are a Data Science & Software Development Company</h2>
		<p class="font-secondary description">
			At Statsspeak, we uphold a set of core values that define our approach to data analytics and software development.
			These principles guide our actions, decisions, and interactions, ensuring that we provide exceptional service and
			solutions.
		</p>

		<Tabs registryId="about-us-tabs">
			<TabHead>
				<TabHeadItem registryId="about-us-tabs" key="mission" isDefault={true}>Mission</TabHeadItem>
				<TabHeadItem registryId="about-us-tabs" key="vision">Vision</TabHeadItem>
				<TabHeadItem registryId="about-us-tabs" key="core-values">Core Values</TabHeadItem>
			</TabHead>
		</Tabs>
		<TabPanel registryId="about-us-tabs" key="core-values">
			<div class="values">
				<div class="value">
					<p class="value-description">
						<BlueCheckmark />
						Innovation
					</p>
					<p class="value-description">
						<BlueCheckmark />
						Client-Centric Approach
					</p>
					<p class="value-description">
						<BlueCheckmark />
						Data-Driven Excellence
					</p>
				</div>
				<div class="value">
					<p class="value-description">
						<BlueCheckmark />
						Team Collaboration
					</p>
					<p class="value-description">
						<BlueCheckmark />
						Integrity and Accountability
					</p>
					<p class="value-description">
						<BlueCheckmark />
						Continuous Learning and Adaptation
					</p>
				</div>
			</div>
		</TabPanel>

		<div class="contact">
			<!-- <button class="contact-button">Contact Us</button> -->
			<p>
			Our Mission is to Unleash the potential of data, crafting software that resonates: where insights meet innovation and
			our vision is To be the leading resource for data analysis and software development, enabling businesses to harness the power of information and achieve their full potential. We believe in data-driven decision-making, collaboration, innovation, and exceeding client expectations
			</p>
			<button class="contact-button"><a href="#contact-us">Contact Us</a></button>
		</div>
	</div>
	<div class="image-container">
		<div class="image">
			<img width="547" src="/people-at-computer.png" alt="people looking at a computer" />
		</div>
		<div class="testimonial">
			<p class="testimonial-description">
				Statsspeak team of experts demonstrated an in-depth understanding of our unique business needs and swiftly
				translated them into innovative solutions that exceeded our expectations.
			</p>
			<div class="testimonial-author">
				<div class="author-image"></div>
				<div class="author-details">
					<!-- <p class="author-button">Partner</p> -->
					<p class="author-name">Arlene McCoy</p>
				</div>
			</div>
		</div>
		<div class="image-highlight"></div>
	</div>
</div>

<style>
	.inline-container {
		display: grid;
		grid-template-columns: 1.5fr 1fr;
		gap: 32px;
		padding-top: 56px;
	}
	.inner-container {
		display: flex;
		flex-direction: column;
		gap: 24px;
		min-height: 550px;
	}

	.contact p {
		/* border: 1px solid var(--secondary-500); */
		padding-inline-end: 2em;

	}

	.contact a {
		color: white;
		text-decoration: none;
	}

	.contact-button {
		min-width: 100px;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-top: 2em;
	}
	.subtitle {
		color: var(--secondary-500);
		font-size: 2.5em;
		font-weight: 600;
	}

	.title {
		color: var(--description-text);
	}

	.description {
		color: var(--paragraph-text);
		font-size: 2rem;
	}
	h2 {
		--font-size: 4rem;
	}

	.values {
		display: flex;
		gap: 24px;
	}

	.value {
		display: grid;
		gap: 12px;
	}

	.value-description {
		display: flex;
		align-items: center;
		gap: 12px;
	}

	.testimonial-description, .author-name {
		color: black;
	}

	.image-container {
		position: relative;
		width: 100%;
	}

	.image {
		padding-top: 72px;
	}
	.image img {
		width: 100%;
	}

	.image-highlight {
		position: absolute;
		right: 0px;
		background-color: var(--primary-50);
		height: inherit;
		width: 80%;
	}

	.testimonial {
		position: absolute;
		bottom: 32px;
		left: 12px;
		width: 75%;
		display: grid;
		gap: 16px;
		border: 4px solid var(--primary-200);
		border-radius: 8px;
		padding: 8px;
		font-size: 1.3rem;
		background-color: white;
	}

	.testimonial .author-details {
		font-weight: bold;
		font-size: 1.1rem;
	}

	.value-description {
		font-family: var(--font-family-secondary);
	}

	/* Media Queries */
	@media (min-width: 320px) and (max-width: 480px) {
		.inline-container {
			display: flex;
			flex-direction: column;
			gap: 24px;
		}

		.inner-container {
			min-height: 0;
		}

		.inner-container .subtitle {
			text-align: center;
			font-size: larger;
		}

		.inner-container h2 {
			font-size: 2em;
			line-height: normal;
			text-align: center;
		}

		.inner-container .description {
			font-size: 1.5rem;
			text-align: center;
			margin-bottom: 2em;
		}

		/* .image-container {
        display: none;
    } */
	}

	@media (min-width: 481px) and (max-width: 768px) {
		.inline-container {
			display: flex;
			flex-direction: column;
			gap: 24px;
		}
	}
</style>
