---
  import Linkedin from '../../components/svgs/linkedin.svg.svelte';
  import Twitter from '../../components/svgs/twitter-svg.svelte';
  import Facebook from '../../components/svgs/facebook-svg.svelte';
  import SSLogoSVG from '../../components/svgs/ss-logo-svg.svelte';
  import SectionScrollNav from './section-scroll.astro';

---

<div class="inline-container footer-highlight">
  <h5>Transform Your Business with Insights</h5>
</div>
<div class="footer">
  <div class="footer-section pitch">
      <SSLogoSVG bind:textColor />
      <p>
          With a unique blend of data expertise and software craftsmanship, we are dedicated to
          empowering ambitious enterprises and driving their success
      </p>
  </div>
  <div class="footer-section">
      <h4>Contact</h4>
      <div class="footer-section-list">
        <div>
          <a href="tel:+254715644881">+254715644881</a>
        </div>
        <div>
          <a href="mailto:info@statsspeak.co.ke">info@statsspeak.co.ke</a>
        </div>
        <div>
          <a href="https://www.google.com/maps/place/Mercure+Nairobi+Upper+Hill/" target="_blank" rel="noopener noreferrer">10th Floor, Mercure, Upperhill, Nairobi</a>
        </div>
      </div>
  </div>
  <div class="footer-section">
      <h4>Company</h4>
      <SectionScrollNav class="footer-section-list" />
  </div>
  <div class="footer-section">
      <h4>Resources</h4>
      <div class="footer-section-list">
            <a href="/blog">Blog</a>
            <a href="/case-studies">Case Studies</a>
            <a href="/whitepapers">Whitepapers</a>
            <a href="/webinars">Webinars</a>
      </div>
  </div>
  <div class="footer-section socials">
      <h4>Our Socials</h4>
      <div class="social-media" >
          <a href="https://www.linkedin.com/company/statsspeak" target="_blank">
            <Linkedin />
          </a>
          <a>
            <Twitter />
          </a>
          <a>
            <Facebook />
          </a>
      </div>
  </div>
</div>
<div class="terms inline-container">
  <p style="margin-left: auto;">&copy; {new Date().getFullYear()} Statsspeak</p>
  <a href="/admin">Admin</a>
</div>

<style lang="scss">

  .footer-highlight {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 12px;
      background: linear-gradient(89.81deg, #00acc8 0.14%, #003759 98.85%);
      height: 72px;
      border-radius: 12px;

      & h5 {
          color: white;
      }
  }

  .footer {
    width: 1800px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      gap: 24px;
      padding: 56px 0;
      margin: 56px auto;
      margin-bottom: 26px;
      border-top: var(--tab-border);
      border-bottom: var(--footer-border);
        // border-left: 1px solid red;
      & p {
          font-family: var(--font-family-secondary);
          color: var(--footer-text);
      }

      & h4 {
          font-size: 1.5rem;
          color: var(--description-text);
      }
  }

  .social-media {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: .5em;
  }

  .social-media a:hover {
    cursor: pointer;
  }

  .footer-section-list a:hover {
    color: #00acc8;
  }

  .pitch {
      display: grid;
      gap: 32px;

      & p {
          font-size: small;
      }
  }

  :global(.pitch svg) {
      width: 90px;
  }

  :global(.footer-section-list) {
      display: grid;
      gap: 18px;
      font-family: var(--font-family-secondary);
      padding-top: 24px;
      //   border: 1px solid red;
    }

    :global(.footer-section-list a) {
        font-family: var(--font-family-secondary);
        color: var(--footer-text);
    //   color: var(--gray-400);
        text-decoration: none;
  }

  .terms {
      display: flex;
      font-family: var(--font-family-secondary);
      color: var(--gray-400);
      padding-bottom: 26px;
      gap: 12px;

      a {
          color: inherit;
          border-left: 1px solid gray;
          padding-left: 12px;
      }
  }


  /* Media Queries */
  @media (min-width: 320px) and (max-width: 480px){
      .footer {
          grid-template-columns: 1fr;
          gap: 16px;
          padding: 24px 0;
          margin: 24px auto;
          margin-bottom: 16px;
      }

      .footer-section {
          display: grid;
          gap: 16px;
      }

      .footer-section-list {
          gap: 8px;
      }

      .terms {
          padding-bottom: 16px;
      }
  }

  @media (min-width: 481px) and (max-width: 640px){
      .footer {
          grid-template-columns: 1fr;
          gap: 16px;
          padding: 24px 0;
          margin: 24px auto;
          margin-bottom: 16px;
      }

      .footer-section {
          display: grid;
          gap: 16px;
      }

      .footer-section-list {
          gap: 8px;
      }

      .terms {
          padding-bottom: 16px;
      }
  }
</style>

<script type="module">
    const isDarkMode = () => document.body.classList.contains('dark-mode');
    const textColor = isDarkMode() ? '#fff' : '#575756';
    document.querySelectorAll('ss-logo-svg').forEach(el => {
      el.setAttribute('textColor', textColor);
    });
  </script>