---
// import OurServicesCover from '../../components/svgs/our-services-cover.svelte';
import OurServicesCover from "../../components/svgs/our-services-cover-dark.svelte";
---

<div id="our-services" class="inline-container z-stack">
	<OurServicesCover class="services-cover" />
	<div class="section-container">
		<div class="title">
			<div class="title-highlight">What We do</div>
			<br />
			<h4 class="title-text">Our services</h4>
		</div>

		<div class="services-points">
			<div class="row">
				<div class="service">
					<div class="service-icon">
						<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M10.125 14.0625H4.5C3.87868 14.0625 3.375 14.5662 3.375 15.1875V20.8125C3.375 21.4338 3.87868 21.9375 4.5 21.9375H10.125C10.7463 21.9375 11.25 21.4338 11.25 20.8125V15.1875C11.25 14.5662 10.7463 14.0625 10.125 14.0625Z"
								stroke="white"
								stroke-width="1.5"
								stroke-linecap="round"
								stroke-linejoin="round"></path>
							<path
								d="M30.375 5.625H23.625C23.0037 5.625 22.5 6.12868 22.5 6.75V13.5C22.5 14.1213 23.0037 14.625 23.625 14.625H30.375C30.9963 14.625 31.5 14.1213 31.5 13.5V6.75C31.5 6.12868 30.9963 5.625 30.375 5.625Z"
								stroke="white"
								stroke-width="1.5"
								stroke-linecap="round"
								stroke-linejoin="round"></path>
							<path
								d="M30.375 21.375H23.625C23.0037 21.375 22.5 21.8787 22.5 22.5V29.25C22.5 29.8713 23.0037 30.375 23.625 30.375H30.375C30.9963 30.375 31.5 29.8713 31.5 29.25V22.5C31.5 21.8787 30.9963 21.375 30.375 21.375Z"
								stroke="white"
								stroke-width="1.5"
								stroke-linecap="round"
								stroke-linejoin="round"></path>
							<path
								d="M11.25 18H16.875"
								stroke="white"
								stroke-width="1.5"
								stroke-linecap="round"
								stroke-linejoin="round"></path>
							<path
								d="M22.5 25.875H20.25C19.3549 25.875 18.4964 25.5194 17.8635 24.8865C17.2306 24.2536 16.875 23.3951 16.875 22.5V13.5C16.875 12.6049 17.2306 11.7464 17.8635 11.1135C18.4964 10.4806 19.3549 10.125 20.25 10.125H22.5"
								stroke="white"
								stroke-width="1.5"
								stroke-linecap="round"
								stroke-linejoin="round"></path>
						</svg>
					</div>
					<div class="service-text">
						<h4>Data Strategy</h4>
						<p>
							We step in, understand your business and help you develop a long term plan that defines the technology,
							processes, people and rules required to manage your organisation's information assets allowing you to
							leverage data both offensively and defensively.
						</p>
					</div>
				</div>
				<div class="service">
					<div class="service-icon">
						<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M9 12.375L2.25 18L9 23.625"
								stroke="white"
								stroke-width="1.5"
								stroke-linecap="round"
								stroke-linejoin="round"></path>
							<path
								d="M27 12.375L33.75 18L27 23.625"
								stroke="white"
								stroke-width="1.5"
								stroke-linecap="round"
								stroke-linejoin="round"></path>
							<path
								d="M22.5 5.625L13.5 30.375"
								stroke="white"
								stroke-width="1.5"
								stroke-linecap="round"
								stroke-linejoin="round"></path>
						</svg>
					</div>
					<div class="service-text">
						<h4>Software Architecture & Design</h4>
						<p>
							We help you define your software system's overall structure and design. This includes designing
							components, interfaces and data to meet your business and technical needs whileoptimizing for qualities
							like scalability, security and maintainability.
						</p>
					</div>
				</div>
				<div class="service">
					<div class="service-icon">
						<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M30.8821 13.4548C31.4986 13.4548 32 12.9363 32 12.2986V10.6195C32 9.9818 31.4986 9.46327 30.8821 9.46327H29.4569V8.7263C29.4569 7.85253 28.7701 7.14204 27.9252 7.14204H23.9401C22.8755 5.07677 17.6979 4 12.5735 4C6.96277 4 1 5.38126 1 7.93858V24.057C1 26.6474 6.82196 28 12.5735 28C18.3251 28 24.1406 26.6452 24.1406 24.057V8.19896H27.9252C28.2047 8.19896 28.433 8.43504 28.433 8.72409V9.46106H27.0078C26.3913 9.46106 25.89 9.97959 25.89 10.6173V12.2964C25.89 12.9341 26.3913 13.4526 27.0078 13.4526H28.433V15.3568H27.0078C26.3913 15.3568 25.89 15.8753 25.89 16.513V18.1921C25.89 18.8298 26.3913 19.3483 27.0078 19.3483H28.433V21.2525H27.0078C26.3913 21.2525 25.89 21.7711 25.89 22.4087V24.0879C25.89 24.7256 26.3913 25.2441 27.0078 25.2441H30.8821C31.4986 25.2441 32 24.7256 32 24.0879V22.4087C32 21.7711 31.4986 21.2525 30.8821 21.2525H29.4569V19.3483H30.8821C31.4986 19.3483 32 18.8298 32 18.1921V16.513C32 15.8753 31.4986 15.3568 30.8821 15.3568H29.4569V13.4526H30.8821V13.4548ZM2.36534 9.90015C2.3952 9.92001 2.42505 9.93767 2.45492 9.95752C2.57866 10.0325 2.70662 10.1054 2.84316 10.176C2.86022 10.1848 2.87734 10.1914 2.89441 10.2002C3.02028 10.2642 3.15043 10.326 3.28483 10.3856C3.3211 10.401 3.35945 10.4187 3.39785 10.4341C3.54932 10.5003 3.70724 10.5643 3.87151 10.6239C3.88857 10.6305 3.90559 10.6371 3.92265 10.6415C4.07412 10.6967 4.22985 10.7497 4.38985 10.8026C4.43252 10.8159 4.47734 10.8313 4.52214 10.8445C4.69921 10.8997 4.88061 10.9549 5.06621 11.0056C5.08328 11.01 5.10029 11.0144 5.11736 11.0188C5.29016 11.0652 5.46937 11.1115 5.6507 11.1534C5.69977 11.1645 5.74883 11.1777 5.79789 11.1887C5.9963 11.2351 6.19685 11.2792 6.40165 11.3189C6.41659 11.3211 6.4337 11.3256 6.44863 11.3278C6.64277 11.3653 6.83899 11.4028 7.03739 11.4359C7.09073 11.4447 7.14406 11.4535 7.1974 11.4624C7.41073 11.4977 7.62829 11.5308 7.84803 11.5639C7.86083 11.5639 7.87372 11.5661 7.88439 11.5683C8.09346 11.5969 8.30674 11.6234 8.52221 11.6499C8.57981 11.6565 8.63534 11.6631 8.69294 11.6698C8.91908 11.694 9.14734 11.7183 9.37774 11.7404C9.38628 11.7404 9.39692 11.7404 9.40545 11.7426C9.62732 11.7624 9.85344 11.7801 10.0774 11.7955C10.1372 11.7999 10.1969 11.8044 10.2566 11.8066C10.4913 11.822 10.726 11.8352 10.9628 11.8463C10.9692 11.8463 10.9735 11.8463 10.9799 11.8463C11.2124 11.8573 11.4449 11.8639 11.6775 11.8683C11.7372 11.8683 11.7969 11.8705 11.8566 11.8728C12.0956 11.8772 12.3346 11.8816 12.5735 11.8816C12.8125 11.8816 13.0514 11.8794 13.2903 11.8728C13.35 11.8728 13.4097 11.8705 13.4695 11.8683C13.702 11.8617 13.9367 11.8551 14.1671 11.8463C14.1735 11.8463 14.1778 11.8463 14.1842 11.8463C14.421 11.8352 14.6556 11.822 14.8882 11.8066C14.9479 11.8022 15.0077 11.7977 15.0674 11.7955C15.2893 11.7801 15.5111 11.7624 15.7309 11.7426C15.7437 11.7426 15.7565 11.7426 15.7693 11.7404C15.9976 11.7205 16.2237 11.6962 16.4498 11.672C16.5096 11.6654 16.5672 11.6587 16.6269 11.6521C16.836 11.6278 17.0451 11.6014 17.2499 11.5727C17.2669 11.5705 17.2839 11.5683 17.301 11.5661C17.5186 11.5352 17.7319 11.5021 17.9453 11.4668C18.0029 11.4579 18.0584 11.4469 18.116 11.4381C18.3102 11.405 18.5 11.3697 18.6877 11.3322C18.709 11.3278 18.7282 11.3255 18.7496 11.3211C18.9522 11.2814 19.1507 11.2373 19.347 11.191C19.3982 11.1799 19.4515 11.1667 19.5027 11.1534C19.6798 11.1115 19.8525 11.0674 20.021 11.0211C20.0424 11.0144 20.0638 11.01 20.0851 11.0034C20.2707 10.9526 20.4477 10.8997 20.6248 10.8445C20.6717 10.8291 20.7166 10.8159 20.7614 10.8004C20.9171 10.7497 21.0707 10.6967 21.2179 10.6437C21.2371 10.6371 21.2584 10.6305 21.2776 10.6217C21.4398 10.5621 21.5955 10.4981 21.747 10.4319C21.7854 10.4143 21.8238 10.3988 21.8622 10.3812C21.9966 10.3216 22.1267 10.2598 22.2505 10.198C22.2675 10.1892 22.2845 10.1804 22.3016 10.1716C22.4381 10.101 22.5662 10.0281 22.6899 9.95311C22.7198 9.93545 22.7497 9.9156 22.7795 9.89794C22.8883 9.82954 22.9907 9.75894 23.0867 9.68613C23.0974 9.67951 23.1102 9.67068 23.1187 9.66406V13.307C23.1187 13.4217 23.0782 13.5431 22.9992 13.6622C22.9907 13.6755 22.9865 13.6821 22.978 13.6975L22.9587 13.7262C22.9587 13.7262 22.9417 13.7505 22.9353 13.7615C22.9289 13.7725 22.9204 13.7836 22.9118 13.7946C22.8905 13.8167 22.8713 13.8387 22.85 13.8652C22.8478 13.8674 22.8456 13.8718 22.8435 13.874C22.8222 13.8939 22.803 13.9138 22.7859 13.9358C22.7496 13.9623 22.7198 13.991 22.707 14.0064C22.6814 14.0329 22.6537 14.0572 22.6153 14.0881C22.5598 14.1344 22.5022 14.1808 22.419 14.2381C22.3529 14.2867 22.2845 14.3308 22.2035 14.3793C22.1245 14.4279 22.0435 14.4786 21.9539 14.5228C21.9347 14.5338 21.9155 14.5448 21.8963 14.5559C21.9027 14.5514 21.9091 14.547 21.9091 14.547C21.9091 14.547 21.9092 14.547 21.907 14.547H21.9091C21.8899 14.5558 21.8728 14.5669 21.8558 14.5779C21.8216 14.5956 21.7876 14.6132 21.7513 14.6309C21.7342 14.6375 21.7171 14.6463 21.7 14.6551C21.6552 14.6794 21.6062 14.7037 21.5571 14.7235C21.5486 14.728 21.5315 14.7346 21.5229 14.739C21.4589 14.7677 21.3971 14.7986 21.3096 14.8317C21.2477 14.8581 21.1859 14.8846 21.1219 14.9067C21.1134 14.9111 21.1027 14.9133 21.0942 14.9177C20.787 15.0413 20.4499 15.1582 20.0595 15.2708C19.9358 15.3061 19.8057 15.3414 19.6713 15.3767C19.5411 15.4098 19.4109 15.4429 19.2616 15.4826C19.2488 15.4848 19.2338 15.4892 19.221 15.4936C19.1656 15.5113 19.1059 15.5223 19.0398 15.5377L18.9822 15.551C18.9288 15.562 18.8776 15.573 18.8222 15.5841C18.7688 15.5951 18.7176 15.6083 18.6514 15.6194C18.5106 15.6503 18.3656 15.679 18.212 15.7054C17.9346 15.7584 17.6253 15.8113 17.3032 15.8577C17.2328 15.8665 17.1624 15.8775 17.0899 15.8886C17.0024 15.9018 16.9149 15.915 16.8295 15.9261L15.7052 16.0496C15.6903 16.0496 15.6754 16.0496 15.6605 16.0496L15.3384 16.0783C15.3213 16.0783 15.2892 16.0805 15.2743 16.0827C15.2295 16.0872 15.1869 16.0916 15.1442 16.096L14.9927 16.1048C14.9821 16.1048 14.9714 16.1048 14.9586 16.1048L14.7239 16.1202C14.5639 16.1313 14.404 16.1401 14.2269 16.1467C13.9624 16.1622 13.6893 16.1732 13.4141 16.1776C12.8594 16.1887 12.2877 16.1887 11.733 16.1776C11.4599 16.1732 11.1889 16.1622 10.9137 16.1467C10.8028 16.1423 10.694 16.1357 10.5852 16.1291C10.4934 16.1225 10.3974 16.1181 10.2908 16.1136H10.2716C10.2311 16.1092 10.1927 16.1092 10.1521 16.1048L10.0433 16.096C9.96434 16.0916 9.88544 16.0872 9.8065 16.0783C9.79797 16.0783 9.78941 16.0783 9.78088 16.0761C9.71047 16.0717 9.64013 16.0673 9.574 16.0585C9.55906 16.0585 9.54622 16.0563 9.53129 16.0541C9.43529 16.0496 9.33712 16.0386 9.23472 16.0298C9.01498 16.0099 8.79747 15.9834 8.582 15.957C8.57347 15.957 8.56699 15.957 8.55846 15.9548C8.54779 15.9548 8.5372 15.9526 8.5244 15.9503C8.38359 15.9349 8.24492 15.9151 8.09345 15.893C8.05079 15.8886 8.00805 15.882 7.96751 15.8753C7.92485 15.8687 7.88218 15.8621 7.86512 15.8599C7.83098 15.8533 7.79904 15.8489 7.76491 15.8444C7.74357 15.8422 7.72221 15.8378 7.68167 15.8312C7.58567 15.818 7.49184 15.8003 7.40011 15.7849C7.32331 15.7716 7.24858 15.7584 7.18458 15.7496C7.06725 15.7297 6.95416 15.7076 6.84749 15.6878C6.83683 15.6878 6.82618 15.6834 6.81551 15.6834C6.79631 15.6812 6.77502 15.6745 6.75155 15.6679C6.74302 15.6657 6.73228 15.6635 6.72374 15.6613C6.56587 15.6304 6.41231 15.6017 6.28217 15.5708C6.26937 15.5664 6.23736 15.5598 6.21602 15.5554C6.21389 15.5554 6.20962 15.5554 6.20748 15.5554C6.02828 15.5157 5.85547 15.4737 5.66987 15.4296C5.64427 15.4208 5.6187 15.412 5.5931 15.4076C5.56323 15.4009 5.5376 15.3965 5.50987 15.3877C5.49067 15.3811 5.47146 15.3767 5.45226 15.3722C5.39253 15.359 5.33714 15.3414 5.26674 15.3215C5.08114 15.2708 4.90405 15.22 4.71631 15.1604C4.69711 15.1538 4.67791 15.1472 4.65871 15.1406C4.63524 15.1317 4.61176 15.1229 4.58829 15.1163L4.56485 15.1075C4.55205 15.1031 4.53926 15.0964 4.52433 15.0942C4.44966 15.0722 4.37926 15.0435 4.30672 15.017C4.29819 15.0126 4.28744 15.0104 4.27891 15.006C4.20851 14.9839 4.1382 14.9574 4.05286 14.9221C3.96966 14.889 3.88856 14.8559 3.80109 14.8184C3.73495 14.7897 3.66883 14.7611 3.59629 14.728C3.58349 14.7235 3.57066 14.7169 3.5664 14.7169C3.51733 14.686 3.46405 14.6618 3.40858 14.6485C3.41712 14.6485 3.42135 14.6529 3.42775 14.6529C3.42775 14.6529 3.43197 14.6529 3.4341 14.6529C3.4405 14.6529 3.44483 14.6551 3.44483 14.6529C3.43203 14.6463 3.41924 14.6397 3.40431 14.6331C3.33818 14.6022 3.27415 14.5691 3.21441 14.5338C3.20588 14.5294 3.19732 14.525 3.18879 14.5205C3.09919 14.4764 3.01603 14.4257 2.92003 14.3661C2.88163 14.344 2.84744 14.322 2.81118 14.2977C2.80264 14.2911 2.79408 14.2845 2.78555 14.28C2.68742 14.2183 2.6 14.1476 2.5168 14.0792C2.48693 14.055 2.4613 14.0329 2.43357 14.0042C2.4229 13.9932 2.41434 13.9844 2.40367 13.9755L2.36534 13.9424C2.36534 13.9424 2.36101 13.938 2.35888 13.938C2.35034 13.927 2.33975 13.916 2.32908 13.9071C2.31842 13.8961 2.30986 13.8851 2.29919 13.8763C2.29492 13.8696 2.28856 13.8652 2.28429 13.8586L2.2395 13.8079C2.2267 13.7924 2.21173 13.7747 2.20106 13.7593C2.19466 13.7483 2.18611 13.7372 2.17971 13.7262L2.16481 13.7086C2.15628 13.6931 2.14772 13.6799 2.13919 13.6644C2.06025 13.5453 2.0197 13.4239 2.0197 13.3092V9.66406C2.0197 9.66406 2.04321 9.67951 2.05387 9.68834C2.14987 9.75895 2.25221 9.82954 2.35888 9.89794L2.36534 9.90015ZM23.1102 18.7636C23.1059 18.7901 23.0996 18.8166 23.0932 18.8431C23.0782 18.8828 23.0611 18.9225 23.0462 18.9556C22.4126 20.2354 18.3229 21.5615 12.5756 21.5615C8.27261 21.5615 4.89977 20.8201 3.21014 19.9132C3.19947 19.9066 3.19091 19.9022 3.18024 19.8978C3.12691 19.8691 3.07571 19.8382 3.02451 19.8095C3.02025 19.8095 3.01815 19.8051 3.01389 19.8029C2.92855 19.7543 2.85386 19.7058 2.7792 19.6551C2.73866 19.6286 2.7003 19.5999 2.6619 19.5734C2.6107 19.5359 2.56368 19.4984 2.51888 19.4609C2.32474 19.2976 2.184 19.1321 2.10294 18.9666C2.08373 18.9269 2.06662 18.885 2.05168 18.8453C2.04315 18.8188 2.03892 18.7923 2.03252 18.757C2.02825 18.7349 2.02616 18.7151 2.02616 18.6952V15.0258C2.02616 15.0258 2.03247 15.0302 2.0346 15.0325C2.09647 15.0788 2.16264 15.1273 2.23731 15.1759C2.29918 15.22 2.35893 15.2575 2.41013 15.2862C2.49333 15.3392 2.60427 15.4076 2.7344 15.4738C2.81547 15.5201 2.90079 15.5642 2.98826 15.6061C2.98826 15.6061 2.99681 15.6106 3.00108 15.6128C3.01174 15.6172 3.02457 15.6238 3.03097 15.6282C3.04377 15.6348 3.06506 15.6437 3.09066 15.6547C3.12693 15.6745 3.16324 15.69 3.19525 15.7054C3.22085 15.7165 3.24637 15.7297 3.2741 15.7407C3.32103 15.7606 3.37009 15.7827 3.42556 15.8069C3.50876 15.8422 3.59838 15.8775 3.70505 15.9217C3.78398 15.9548 3.86716 15.9857 3.95036 16.0121C4.0037 16.0364 4.05494 16.0563 4.10401 16.0695C4.11041 16.0695 4.11896 16.0739 4.12537 16.0739C4.1403 16.0805 4.15944 16.0872 4.17651 16.0938C4.21065 16.1092 4.24697 16.1225 4.28537 16.1291L4.32797 16.1445C4.36637 16.1578 4.40696 16.1732 4.43256 16.1798C4.61816 16.2394 4.81014 16.2946 4.99788 16.3453C5.07041 16.3674 5.14514 16.3894 5.22195 16.4071C5.26461 16.4203 5.30933 16.4314 5.35414 16.4424C5.38614 16.4534 5.41812 16.4623 5.44799 16.4689C5.62079 16.5108 5.8 16.5527 5.98133 16.5947C6.0048 16.6013 6.02401 16.6035 6.03894 16.6057C6.20321 16.6454 6.36961 16.6785 6.51895 16.705C6.57228 16.7182 6.62562 16.7314 6.67895 16.7381C6.78775 16.7579 6.9009 16.78 7.02677 16.8021L7.2401 16.8374C7.33824 16.855 7.43847 16.8705 7.52167 16.8837C7.56007 16.8903 7.59629 16.8969 7.63469 16.9014L7.82459 16.93C7.87793 16.9389 7.9313 16.9455 7.9697 16.9499C8.11904 16.972 8.27267 16.994 8.42627 17.0095C8.43267 17.0095 8.43685 17.0095 8.44325 17.0095C8.45178 17.0095 8.46248 17.0095 8.47315 17.0117C8.69715 17.0382 8.92114 17.0646 9.14941 17.0867C9.25608 17.0977 9.36274 17.1088 9.46941 17.1132C9.54835 17.122 9.63153 17.1286 9.71473 17.133C9.80646 17.1441 9.90035 17.1485 9.99848 17.1551L10.0625 17.1617C10.1244 17.1683 10.1862 17.1705 10.2204 17.1728H10.2246L10.4252 17.1882C10.5745 17.1992 10.7281 17.2058 10.8689 17.2103C11.1463 17.2257 11.4343 17.2367 11.7202 17.2434C12.0039 17.2478 12.2919 17.2544 12.5799 17.2544C12.8679 17.2544 13.1559 17.25 13.4397 17.2434C13.7256 17.2389 14.0135 17.2279 14.278 17.2125C14.453 17.2081 14.6237 17.197 14.7965 17.186L15.0503 17.1705C15.0503 17.1705 15.0546 17.1705 15.0567 17.1705C15.0588 17.1705 15.061 17.1705 15.0632 17.1705L15.2914 17.1551C15.3106 17.1551 15.3234 17.1529 15.3404 17.1485C15.3532 17.1485 15.366 17.1463 15.3767 17.1441C15.3788 17.1441 15.381 17.1441 15.3832 17.1441C15.3917 17.1441 15.4003 17.1441 15.4088 17.1441L15.7309 17.1154C15.7479 17.1154 15.7629 17.1154 15.7799 17.1132L16.9512 16.9852C17.0472 16.972 17.1431 16.9587 17.2349 16.9455C17.3031 16.9366 17.3693 16.9256 17.4418 16.9168C17.7853 16.866 18.1096 16.8109 18.3912 16.7557C18.5491 16.7292 18.7069 16.6962 18.8499 16.6653C18.9139 16.652 18.9757 16.6388 19.0376 16.6255C19.0824 16.6145 19.1294 16.6057 19.187 16.5924L19.2509 16.577C19.3299 16.5593 19.4067 16.5417 19.4643 16.5262C19.4707 16.5262 19.4792 16.524 19.4856 16.5218C19.6478 16.4865 19.7992 16.4468 19.9187 16.4093C20.5032 16.2571 21.0045 16.096 21.4525 15.915C21.5379 15.8864 21.619 15.8511 21.6809 15.8246C21.7726 15.7893 21.8579 15.7496 21.9325 15.7143C22.0029 15.6856 22.0712 15.6525 22.1373 15.6194C22.1459 15.615 22.1523 15.6128 22.1609 15.6083C22.2163 15.5819 22.2654 15.5554 22.3315 15.5223C22.3486 15.5135 22.3678 15.5024 22.3828 15.4914C22.3764 15.4958 22.3699 15.5002 22.3678 15.5002C22.3848 15.4914 22.4019 15.4826 22.419 15.4715C22.5449 15.4076 22.6537 15.3414 22.7262 15.295C22.8265 15.2332 22.9246 15.1715 22.995 15.1185C23.0355 15.0898 23.0782 15.0611 23.1187 15.0302V18.6996C23.1187 18.7195 23.1187 18.7416 23.1124 18.7702L23.1102 18.7636ZM3.15035 15.2487L3.2165 15.1317L3.12483 15.3237L3.09493 15.3877L3.15035 15.2575L3.15462 15.2487H3.15035ZM12.5735 5.05911C19.1059 5.05911 23.1166 6.73604 23.1166 7.93858C23.1166 9.14112 19.1059 10.8225 12.5735 10.8225C6.04115 10.8225 2.02398 9.14332 2.02398 7.93858C2.02398 6.73384 6.03688 5.05911 12.5735 5.05911ZM23.1166 24.057C23.1166 25.2617 19.1059 26.9409 12.5735 26.9409C6.04115 26.9409 2.02398 25.2617 2.02398 24.057V20.4053C2.16478 20.5112 2.3205 20.6149 2.49117 20.7142C2.55731 20.7605 2.62557 20.8002 2.70024 20.8333C2.83677 20.9105 2.95843 20.9723 3.08003 21.0275C3.17604 21.0782 3.27628 21.1246 3.37869 21.1643C3.49602 21.2172 3.60477 21.2636 3.70077 21.2967C3.90558 21.3761 4.14884 21.4688 4.39631 21.5438C4.52858 21.5901 4.65659 21.6299 4.78673 21.663C5.02993 21.7402 5.29013 21.8108 5.5632 21.8726C5.69334 21.9101 5.81706 21.9388 5.92373 21.9586C6.30773 22.0469 6.66402 22.1197 7.0075 22.1793C7.0715 22.1903 7.13558 22.2013 7.19958 22.2124C7.25078 22.2212 7.30412 22.23 7.35959 22.2388C7.64972 22.2896 7.95043 22.3293 8.2171 22.3624C8.52431 22.4021 8.80167 22.4374 9.09607 22.4639C9.17287 22.4749 9.25401 22.4816 9.32441 22.486C11.1911 22.6603 13.1921 22.6824 15.061 22.5455C15.2722 22.5345 15.4834 22.5191 15.6882 22.4992C15.733 22.4992 15.7757 22.4926 15.8205 22.486C15.8973 22.4816 15.972 22.4749 16.0445 22.4639C16.2557 22.4441 16.4626 22.422 16.6653 22.3955C17.3181 22.3205 17.9795 22.2146 18.6365 22.0822C18.8029 22.0491 18.9694 22.0182 19.1336 21.9763C19.2851 21.9476 19.4323 21.9145 19.5518 21.8792C19.8483 21.8108 20.1107 21.7402 20.3518 21.663C20.4713 21.6321 20.5843 21.599 20.6824 21.5615C20.8296 21.5173 20.9662 21.4688 21.0856 21.4247C21.2051 21.3849 21.3246 21.3386 21.4398 21.2945C21.5358 21.257 21.6297 21.2194 21.7171 21.1819C21.8857 21.1113 22.0563 21.0341 22.2525 20.9348C22.3976 20.862 22.5683 20.7715 22.7283 20.6656C22.7837 20.6325 22.8349 20.6016 22.8883 20.5641C22.9544 20.5266 23.0099 20.4847 23.0568 20.4472C23.076 20.4339 23.0953 20.4185 23.1166 20.4053V24.057ZM30.9759 22.4132V24.0923C30.9759 24.1453 30.9333 24.1894 30.8821 24.1894H27.0078C26.9566 24.1894 26.914 24.1453 26.914 24.0923V22.4132C26.914 22.3602 26.9566 22.3161 27.0078 22.3161H30.8821C30.9333 22.3161 30.9759 22.3602 30.9759 22.4132ZM30.9759 16.5152V18.1944C30.9759 18.2473 30.9333 18.2914 30.8821 18.2914H27.0078C26.9566 18.2914 26.914 18.2473 26.914 18.1944V16.5152C26.914 16.4623 26.9566 16.4181 27.0078 16.4181H30.8821C30.9333 16.4181 30.9759 16.4623 30.9759 16.5152ZM26.914 12.2964V10.6173C26.914 10.5643 26.9566 10.5202 27.0078 10.5202H30.8821C30.9333 10.5202 30.9759 10.5643 30.9759 10.6173V12.2964C30.9759 12.3494 30.9333 12.3935 30.8821 12.3935H27.0078C26.9566 12.3935 26.914 12.3494 26.914 12.2964Z"
								fill="white"></path>
						</svg>
					</div>
					<div class="service-text">
						<h4>Data Engineering</h4>
						<p>
							We help you build scalable and secure systems that enables you to collect and use data with little or no
							human intervention. We also help you integrate effortlessly with your modern data stack to ejoy full data
							granularity
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="service">
					<div class="service-icon">
						<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M13.5 29.2478H10.125C9.00818 29.2467 7.90439 29.0081 6.88687 28.5478C5.86935 28.0875 4.96137 27.4161 4.22319 26.578C3.48502 25.74 2.93353 24.7545 2.60534 23.687C2.27715 22.6195 2.17977 21.4945 2.31964 20.3865C2.45952 19.2785 2.83347 18.2129 3.41666 17.2605C3.99985 16.308 4.77895 15.4905 5.70224 14.8623C6.62553 14.234 7.6719 13.8092 8.77189 13.6163C9.87189 13.4233 11.0003 13.4665 12.0824 13.743"
								stroke="white"
								stroke-width="1.5"
								stroke-linecap="round"
								stroke-linejoin="round"></path>
							<path
								d="M11.25 17.9978C11.2502 16.2153 11.6739 14.4583 12.4863 12.8717C13.2987 11.2851 14.4765 9.91419 15.9226 8.87203C17.3687 7.82986 19.0417 7.14624 20.8039 6.8775C22.566 6.60875 24.3668 6.76258 26.0578 7.3263C27.7488 7.89002 29.2817 8.8475 30.5301 10.1198C31.7785 11.3922 32.7067 12.9429 33.2382 14.6444C33.7697 16.3458 33.8893 18.1492 33.5872 19.9059C33.285 21.6626 32.5698 23.3224 31.5003 24.7484"
								stroke="white"
								stroke-width="1.5"
								stroke-linecap="round"
								stroke-linejoin="round"></path>
							<path
								d="M16.6021 22.7709L21.375 17.9978L26.148 22.7709"
								stroke="white"
								stroke-width="1.5"
								stroke-linecap="round"
								stroke-linejoin="round"></path>
							<path
								d="M21.375 29.2478V17.9978"
								stroke="white"
								stroke-width="1.5"
								stroke-linecap="round"
								stroke-linejoin="round"></path>
						</svg>
					</div>
					<div class="service-text">
						<h4>DevOps & Cloud Engineering</h4>
						<p>
							We help you automate processes between software development and IT teams to build, test and release
							software faster and more reliably. We leverage cloud platforms and services to design software systems
							that can efficiently scale on demand. We build tools and frameworks to support continuos delivery,
							infrastructure as code amd monitoring.
						</p>
					</div>
				</div>
				<div class="service">
					<div class="service-icon">
						<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M6.90077 21.5638C9.11524 21.6435 11.3589 21.5874 13.5559 21.2623C14.4521 21.1323 15.5462 20.9905 16.3348 20.4969C16.8993 20.1453 16.9721 19.6577 16.9721 19.0548V2.33132C16.9721 1.09605 15.5637 0.738468 14.583 0.516828C12.8196 0.111966 10.9747 0.0321817 9.17346 0.00558492C7.49441 -0.0180567 5.80364 0.0292265 4.13333 0.227225C3.26616 0.330657 2.38732 0.469557 1.55799 0.750301C1.03129 0.927612 0.356245 1.19653 0.100169 1.74324C-0.054059 2.07127 0.0157686 2.52638 0.0157686 2.87509V19.3385C0.0157686 20.4762 1.31659 20.8368 2.20122 21.0377C3.74058 21.3835 5.33223 21.5047 6.90361 21.5638H6.90077ZM14.6644 15.2367C13.0378 15.6386 11.3297 15.7479 9.6594 15.7893C7.90469 15.8307 6.14124 15.7952 4.39818 15.5943C3.59212 15.4997 2.77726 15.3844 2.00031 15.1539C1.90137 15.1244 1.43878 15.0269 1.43878 14.8968V12.1308C3.68235 12.9346 6.28967 12.9287 8.64091 12.9198C10.9019 12.9109 13.387 12.905 15.5404 12.1308V14.7904C15.5404 15.1244 14.9205 15.1746 14.6644 15.2367ZM1.78206 3.56955C4.01399 4.24038 6.48756 4.26106 8.79806 4.24629C11.0096 4.23151 13.4336 4.21378 15.5404 3.45725V6.01351C15.5404 6.32085 15.4705 6.31494 15.1592 6.42133C13.0757 7.13057 10.6604 7.13056 8.48959 7.13056C6.31876 7.13056 3.99376 7.10693 1.91605 6.45383C1.69489 6.38586 1.43579 6.36812 1.43579 6.11397V3.4543C1.54928 3.49567 1.66573 3.53113 1.77922 3.56659L1.78206 3.56955ZM1.72977 7.90482C3.93552 8.58452 6.38573 8.59044 8.67004 8.58157C10.9194 8.57271 13.3958 8.58158 15.5404 7.80731V10.3488C15.5404 10.6561 15.4705 10.6502 15.1592 10.7566C13.0786 11.4658 10.6604 11.4688 8.48959 11.4688C6.31876 11.4688 3.99376 11.4452 1.91605 10.7891C1.6978 10.7211 1.43579 10.7034 1.43579 10.4522V7.80731C1.53182 7.84278 1.63076 7.87233 1.72679 7.90188L1.72977 7.90482ZM15.037 2.12446C13.0146 2.75391 10.7622 2.78643 8.66706 2.79529C6.4584 2.80416 4.06937 2.78642 1.94219 2.12446C4.01699 1.48022 6.34495 1.45364 8.48959 1.45364C10.6342 1.45364 12.9622 1.48022 15.037 2.12446C14.9875 2.13923 14.0243 1.81121 15.037 2.12446ZM1.43878 19.2616V16.5045C3.69399 17.1901 6.1529 17.258 8.48959 17.258C10.8263 17.258 13.2852 17.193 15.5404 16.5045V19.2557C15.5404 19.3533 15.034 19.4685 14.9293 19.501C14.2047 19.7168 13.4452 19.8291 12.6944 19.9148C10.8204 20.1334 8.929 20.1807 7.04626 20.1157C6.09762 20.0832 5.14897 20.0211 4.20323 19.9029C3.32443 19.7936 2.21566 19.7345 1.43579 19.2646L1.43878 19.2616Z"
								fill="white"></path>
							<path
								d="M27.5091 14.4094C25.7573 14.4094 23.988 14.4744 22.2595 14.7611C21.3632 14.9089 19.0294 15.2221 19.0294 16.5342V32.9119C19.0294 33.3345 18.9597 33.8605 19.1285 34.2595C19.5795 35.3145 21.2091 35.4682 22.1781 35.6277C24.0957 35.938 26.057 36.0178 27.998 35.9971C29.7643 35.9764 31.5481 35.8819 33.2912 35.5509C34.0885 35.4002 35.2001 35.2436 35.7472 34.5698C36.0702 34.1708 35.9916 33.6123 35.9916 33.1306V16.5785C35.9916 15.2871 33.8877 14.965 32.9769 14.8025C31.1785 14.4804 29.3337 14.4124 27.512 14.4124L27.5091 14.4094ZM34.5599 26.5376V28.0358C34.5599 28.3727 34.7403 29.277 34.3941 29.4248C33.428 29.8326 32.3047 29.936 31.2745 30.0395C30.064 30.1636 28.8505 30.202 27.6371 30.2168C26.4353 30.2286 25.2306 30.1784 24.0346 30.069C22.9405 29.9744 21.7736 29.8562 20.7348 29.4691C20.4583 29.3657 20.4612 29.3657 20.4612 29.0997V26.5405C22.6612 27.3295 25.2074 27.3296 27.512 27.3296C29.8167 27.3296 32.3629 27.3295 34.5629 26.5405L34.5599 26.5376ZM34.5599 22.2171V24.7585C34.5599 25.0659 34.4843 25.0629 34.17 25.1693C32.0894 25.8726 29.6799 25.8785 27.5091 25.8785C25.3382 25.8785 23.0073 25.8549 20.9325 25.1989C20.7143 25.1309 20.4582 25.1131 20.4582 24.862V22.22C22.6582 23.009 25.2044 22.9943 27.5091 22.9943C29.8137 22.9943 32.3629 23.012 34.5599 22.22V22.2171ZM34.5599 17.8641V20.4203C34.5599 20.7306 34.4813 20.7247 34.167 20.8311C32.0893 21.5344 29.677 21.5374 27.5091 21.5374C25.3411 21.5374 23.0073 21.5137 20.9325 20.8577C20.7114 20.7867 20.4582 20.772 20.4582 20.5208V17.8611C22.6582 18.6472 25.2015 18.6501 27.5091 18.6501C29.8167 18.6501 32.36 18.6472 34.5599 17.8611V17.8641ZM34.0565 16.5313C31.9817 17.1755 29.6624 17.2021 27.5091 17.2021C25.3557 17.2021 23.0365 17.1755 20.9617 16.5313C23.0365 15.887 25.3644 15.8604 27.5091 15.8604C29.6537 15.8604 31.9817 15.887 34.0565 16.5313C33.9954 16.549 33.0438 16.215 34.0565 16.5313ZM26.8776 34.5461C25.7573 34.5195 24.6341 34.4752 23.5225 34.3452C23.0074 34.2861 22.4923 34.2152 21.9801 34.1206C21.8114 34.091 20.4582 33.8665 20.4582 33.6625V30.9083C22.7135 31.5939 25.1695 31.6619 27.5091 31.6619C29.8487 31.6619 32.3047 31.5939 34.5599 30.9083V33.5177C34.5599 33.7867 34.2834 33.7867 34.0565 33.8694C33.0089 34.2506 31.7984 34.3275 30.7013 34.4191C29.4297 34.5255 28.1522 34.552 26.8776 34.5402C26.1909 34.5255 27.0668 34.5402 26.8776 34.5402V34.5461Z"
								fill="white"></path>
							<path
								d="M26.7934 9.94405V11.5901C26.3453 11.2207 25.8943 10.8513 25.4461 10.4819C24.9951 10.1125 24.2064 9.33528 23.7466 10.1834C23.4062 10.8129 24.0669 11.2118 24.4684 11.5428C25.0446 12.0186 25.6236 12.4944 26.1998 12.9672C26.514 13.2243 26.8632 13.6292 27.2502 13.7828C27.6518 13.9395 27.9546 13.6765 28.2456 13.4341C29.1913 12.6569 30.137 11.8797 31.0828 11.0995C31.5454 10.7183 31.3737 9.93223 30.7771 9.81698C30.4017 9.7431 30.1486 10.0031 29.8838 10.2189C29.3309 10.674 28.7751 11.132 28.2222 11.5871C28.2222 9.96769 28.3037 8.38666 27.0757 7.13957C25.9554 6.00182 24.5702 5.97522 23.1065 5.97522H19.1548C18.9394 5.97522 18.7357 5.99591 18.5611 6.14663C18.1101 6.53376 18.3109 7.30801 18.8929 7.4144C19.2683 7.48237 19.6931 7.42621 20.0714 7.42621H23.869C24.3637 7.42621 24.8409 7.42622 25.3065 7.63604C26.1969 8.03204 26.7906 8.9511 26.7906 9.94109L26.7934 9.94405Z"
								fill="white"></path>
							<path
								d="M16.5818 31.1177H14.3383C13.1656 31.1177 12.0975 30.4439 11.7833 29.25C11.597 28.5378 11.6989 27.6897 11.6989 26.9627V24.7463C12.147 25.1157 12.5981 25.4851 13.0463 25.8545C13.4973 26.2239 14.2859 27.0041 14.7456 26.153C15.0861 25.5235 14.4255 25.1246 14.024 24.7936C13.4478 24.3178 12.8716 23.845 12.2925 23.3692C11.8502 23.0057 11.1518 22.1546 10.5262 22.6688C9.59502 23.4342 8.66381 24.1996 7.73262 24.965C7.49691 25.16 7.20882 25.3403 7.1448 25.6683C7.00804 26.3983 7.84317 26.7411 8.35241 26.3244C8.98969 25.7984 9.6299 25.2723 10.2672 24.7493V27.6897C10.2672 28.9841 10.3458 30.1898 11.242 31.2241C12.2518 32.3885 13.57 32.5717 15.0017 32.5717H16.5352C17.4781 32.5717 17.5275 31.1207 16.5789 31.1207L16.5818 31.1177Z"
								fill="white"></path>
						</svg>
					</div>
					<div class="service-text">
						<h4>Data Science & Analytics</h4>
						<p>
							We help you understand your data to extract meaningful insights for business decision making and
							extrapolate to understand future dynamics
						</p>
					</div>
				</div>
				<div class="service">
					<div class="service-icon">
						<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M21.9375 14.0625H14.0625V21.9375H21.9375V14.0625Z"
								stroke="white"
								stroke-width="1.5"
								stroke-linecap="round"
								stroke-linejoin="round"></path>
							<path
								d="M28.125 6.75H7.875C7.25368 6.75 6.75 7.25368 6.75 7.875V28.125C6.75 28.7463 7.25368 29.25 7.875 29.25H28.125C28.7463 29.25 29.25 28.7463 29.25 28.125V7.875C29.25 7.25368 28.7463 6.75 28.125 6.75Z"
								stroke="white"
								stroke-width="1.5"
								stroke-linecap="round"
								stroke-linejoin="round"></path>
							<path
								d="M29.25 14.625H32.625"
								stroke="white"
								stroke-width="1.5"
								stroke-linecap="round"
								stroke-linejoin="round"></path>
							<path
								d="M29.25 21.375H32.625"
								stroke="white"
								stroke-width="1.5"
								stroke-linecap="round"
								stroke-linejoin="round"></path>
							<path
								d="M3.375 14.625H6.75"
								stroke="white"
								stroke-width="1.5"
								stroke-linecap="round"
								stroke-linejoin="round"></path>
							<path
								d="M3.375 21.375H6.75"
								stroke="white"
								stroke-width="1.5"
								stroke-linecap="round"
								stroke-linejoin="round"></path>
							<path
								d="M21.375 29.25V32.625"
								stroke="white"
								stroke-width="1.5"
								stroke-linecap="round"
								stroke-linejoin="round"></path>
							<path
								d="M14.625 29.25V32.625"
								stroke="white"
								stroke-width="1.5"
								stroke-linecap="round"
								stroke-linejoin="round"></path>
							<path
								d="M21.375 3.375V6.75"
								stroke="white"
								stroke-width="1.5"
								stroke-linecap="round"
								stroke-linejoin="round"></path>
							<path
								d="M14.625 3.375V6.75"
								stroke="white"
								stroke-width="1.5"
								stroke-linecap="round"
								stroke-linejoin="round"></path>
						</svg>
					</div>
					<div class="service-text">
						<h4>Software Development</h4>
						<p>
							We build high-quality, scalable and secure software applications and systems. We implement solutions in
							various programming languages and frameworks based on your architecture and requiremnents. We follow best
							practices for coding, testing, deployment and maintenance.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
	.inline-container {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		min-width: 100vw;
		max-height: fit-content;
		/* border: 1px solid red; */
		padding-bottom: 0;
	}

	:global(.services-cover) {
		position: absolute;
		width: 100%;
		top: 0;
		height: 100%;
		z-index: -1;
		/* border-radius: 8px; */
		/* border: 1px solid red; */
	}

	.section-container {
		position: absolute;
		top: 0;
		padding: 48px 20px;
		z-index: 1;
		/* border: 1px solid red; */
	}

	.title {
		position: relative;
		margin-top: 8em;
		margin-bottom: 9em;
	}

	.title-text {
		color: white;
		font-size: 2.5em;
	}

	.title-highlight {
		color: var(--secondary-500);
		font-family: var(--font-family-secondary);
		font-size: 1.5em;
		font-weight: 600;
	}

	.service-icon {
		display: flex;
		background-color: var(--secondary-500);
		height: 48px;
		width: 48px;
		border-radius: 8px;
		align-items: center;
		justify-content: center;
	}
	.service-icon svg {
		height: 24px;
		margin-top: 1em;
	}

	.services-points {
		display: grid;
		gap: 24px;
		padding-top: 48px;
		margin-top: 4em;

		& .row {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			gap: 24px;
		}

		& .service {
			display: flex;
			flex-direction: column;
			padding: 32px;
			gap: 8px;
			background: var(--background-color);
			box-shadow: 0px 12px 56px rgba(6, 28, 61, 0.72);
			border-radius: 8px;
			min-height: 300px;
			margin-bottom: 2em;
			border: var(--service-border);
		}

		& h4 {
			font-size: 1.5rem;
			margin-bottom: 8px;
			color: var(--description-text);
		}

		& p {
			font-family: var(--font-family-secondary);
			color: var(--gray-500);
			font-size: 1.125em;
		}
	}

	.services-points .sevice:hover {
		cursor: pointer;
	}

	@media (min-width: 320px) and (max-width: 480px) {
		:global(.services-cover),
		.section-container {
			position: static;
			/* top: 0; */
		}

		.section-container {
			transform: translateY(-12%);
		}

		.inline-container {
			flex-direction: column;
		}

		.services-points {
			padding-top: 24px;
			margin-top: -5em;
		}

		.services-points .row {
			grid-template-columns: 1fr;
		}

		.service {
			padding: 24px;
		}
	}

	@media (min-width: 481px) and (max-width: 768px) {
		:global(.services-cover),
		.section-container {
			position: static;
			/* margin-top: 5em; */
		}

		.section-container {
			transform: translateY(-15%);
		}

		.inline-container {
			flex-direction: column;
		}

		.services-points {
			padding-top: 24px;
			/* border: 1px solid red; */
			margin-top: -5em;
		}

		.services-points .row {
			grid-template-columns: 1fr;
		}

		.service {
			padding: 24px;
		}
	}

	@media (min-width: 769px) and (max-width: 1024px) {
		:global(.services-cover),
		.section-container {
			position: static;
		}

		.section-container {
			transform: translateY(-25%);
			/* border: 1px solid red; */
		}

		.inline-container {
			flex-direction: column;
		}

		.services-points {
			padding-top: 24px;
		}

		.services-points .row {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr;
		}

		.service {
			padding: 24px;
			flex: 0 0 calc(50% - 2%);
			margin: 1%;
		}
	}

	@media (min-width: 1025px) and (max-width: 1440px) {
		:global(.services-cover),
		.section-container {
			position: static;
		}

		.section-container {
			transform: translateY(-50%);
			/* border: 1px solid red; */
			padding-inline: 7em;
			padding-top: 1em;
		}

		.inline-container {
			flex-direction: column;
		}

		.services-points {
			padding-top: 24px;
		}

		.services-points .row {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
		}

		.service {
			padding: 24px;
		}
	}

	@media (min-width: 1441px) {
		:global(.services-cover),
		.section-container {
			position: static;
		}

		.section-container {
			transform: translateY(-60%);
			/* border: 1px solid red; */
			padding-inline: 15%;
			padding-top: 1em;
		}

		.inline-container {
			flex-direction: column;
		}

		.services-points {
			padding-top: 24px;
		}

		.services-points .row {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
		}

		.service {
			padding: 24px;
		}
	}
</style>
