<div id="why-choose-us" class="why-choose-us inline-container">
	<div class="heading-section">
		<p class="title">The Statsspeak way</p>
		<h3 class="subtitle">Turning data into meaningful insights.</h3>
		<p class="description">
			Our commitment to solving your challenges, enhancing your business, and delivering tailored solutions is the
			cornerstone of our approach. Our expertise, dedication, and proven track record make us the ideal choice for those
			who demand the very best.
			<br />
		</p>
	</div>
	<div class="body-section">
		<div class="text-info">
			<div class="features">
				<div class="feature">
					<div class="feature-icon">
						<svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
							<rect width="64" height="64" rx="8" fill="#F0FBFC"></rect>
							<g clip-path="url(#clip0_291_17326)">
								<path
									d="M33.3334 18.6667V20.3707L40 22.5947L44.8427 20.9813L45.6867 23.5093L41.644 24.8573L45.772 36.2067C44.316 37.7227 42.2667 38.6667 40 38.6667C37.732 38.6667 35.684 37.7227 34.228 36.2067L38.3534 24.8573L33.3334 23.1827V41.3333H38.6667V44H25.3334V41.3333H30.6667V23.1827L25.6427 24.8573L29.7707 36.2067C28.316 37.7227 26.2667 38.6667 24 38.6667C21.732 38.6667 19.684 37.7227 18.228 36.2067L22.3534 24.8573L18.3134 23.5107L19.1574 20.98L24 22.5933L30.6667 20.3707V18.6667H33.3334ZM40 28.1373L37.3894 35.3187C38.172 35.76 39.0654 36 40 36C40.9334 36 41.8267 35.76 42.6107 35.32L40 28.136V28.1373ZM24 28.1373L21.3894 35.3187C22.172 35.76 23.0654 36 24 36C24.9334 36 25.8267 35.76 26.6107 35.32L24 28.136V28.1373Z"
									fill="#00ABC8"></path>
							</g>
							<defs>
								<clipPath id="clip0_291_17326">
									<rect width="32" height="32" fill="white" transform="translate(16 16)"></rect>
								</clipPath>
							</defs>
						</svg>
					</div>
					<h4 class="feature-title">Enterprise Scale</h4>
					<p class="feature-description">
						Our future proof and scalable system architecture allows you to scale infinitely and connect you to as many
						data sources as required to move any data volume
					</p>
				</div>
				<div class="feature">
					<div class="feature-icon">
						<svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
							<rect width="64" height="64" rx="8" fill="#E1F8FA"></rect>
							<g clip-path="url(#clip0_571_2408)">
								<path
									d="M30.6667 41.3333V28H21.3334V41.3333H30.6667ZM30.6667 25.3333V21.3333C30.6667 20.9797 30.8072 20.6406 31.0572 20.3905C31.3073 20.1405 31.6464 20 32 20H44C44.3536 20 44.6928 20.1405 44.9428 20.3905C45.1929 20.6406 45.3334 20.9797 45.3334 21.3333V42.6667C45.3334 43.0203 45.1929 43.3594 44.9428 43.6095C44.6928 43.8595 44.3536 44 44 44H20C19.6464 44 19.3073 43.8595 19.0572 43.6095C18.8072 43.3594 18.6667 43.0203 18.6667 42.6667V26.6667C18.6667 26.313 18.8072 25.9739 19.0572 25.7239C19.3073 25.4738 19.6464 25.3333 20 25.3333H30.6667ZM33.3334 22.6667V41.3333H42.6667V22.6667H33.3334ZM22.6667 37.3333H29.3334V40H22.6667V37.3333ZM34.6667 37.3333H41.3334V40H34.6667V37.3333ZM34.6667 33.3333H41.3334V36H34.6667V33.3333ZM34.6667 29.3333H41.3334V32H34.6667V29.3333ZM22.6667 33.3333H29.3334V36H22.6667V33.3333Z"
									fill="#00ABC8"></path>
							</g>
							<defs>
								<clipPath id="clip0_571_2408">
									<rect width="32" height="32" fill="white" transform="translate(16 16)"></rect>
								</clipPath>
							</defs>
						</svg>
					</div>
					<h4 class="feature-title">Choose Where Your Data Resides</h4>
					<p class="feature-description">
						You have an option to choose where you want your data to be hosted: on the cloud, on premise or in our fully
						managed eneterprise data warerhouse
					</p>
				</div>
				<div class="feature">
					<div class="feature-icon">
						<svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
							<rect width="64" height="64" rx="8" fill="#F0FBFC"></rect>
							<g clip-path="url(#clip0_291_17338)">
								<path
									d="M21.3334 20H42.6667L45.3334 25.3333V42.6667C45.3334 43.0203 45.1929 43.3594 44.9428 43.6095C44.6928 43.8595 44.3536 44 44 44H20C19.6464 44 19.3073 43.8595 19.0572 43.6095C18.8072 43.3594 18.6667 43.0203 18.6667 42.6667V25.3387L21.3334 20ZM42.6667 28H21.3334V41.3333H42.6667V28ZM42.352 25.3333L41.0187 22.6667H22.9827L21.6494 25.3333H42.352ZM33.3334 34.6667H37.3334L32 40L26.6667 34.6667H30.6667V29.3333H33.3334V34.6667Z"
									fill="#00ABC8"></path>
							</g>
							<defs>
								<clipPath id="clip0_291_17338">
									<rect width="32" height="32" fill="white" transform="translate(16 16)"></rect>
								</clipPath>
							</defs>
						</svg>
					</div>
					<h4 class="feature-title">Pre-built projects</h4>
					<p class="feature-description">We have pre-built integrations for all popular cloud apps and data sources.</p>
				</div>
				<div class="feature">
					<div class="feature-icon">
						<svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
							<rect width="64" height="64" rx="8" fill="#F0FBFC"></rect>
							<path
								opacity="0.2"
								d="M20.1385 25.3271C20.0478 25.4809 20 25.6563 20 25.8348V38.1651C20 38.3426 20.0472 38.5168 20.1368 38.67C20.2264 38.8232 20.3551 38.9497 20.5097 39.0367L31.5097 45.2242C31.6594 45.3084 31.8283 45.3527 32 45.3526L32.0013 45.3527L32.1186 32L20.1385 25.3271L20.1385 25.3271Z"
								fill="#00ABC8"></path>
							<path
								d="M44 38.1651V25.8348C44 25.6574 43.9528 25.4832 43.8632 25.33C43.7736 25.1768 43.6449 25.0503 43.4903 24.9633L32.4903 18.7758C32.3406 18.6916 32.1717 18.6473 32 18.6473C31.8283 18.6473 31.6594 18.6916 31.5097 18.7758L20.5097 24.9633C20.3551 25.0503 20.2264 25.1768 20.1368 25.33C20.0472 25.4832 20 25.6574 20 25.8348V38.1651C20 38.3426 20.0472 38.5168 20.1368 38.67C20.2264 38.8232 20.3551 38.9497 20.5097 39.0367L31.5097 45.2242C31.6594 45.3084 31.8283 45.3526 32 45.3526C32.1717 45.3526 32.3406 45.3084 32.4903 45.2242L43.4903 39.0367C43.6449 38.9497 43.7736 38.8232 43.8632 38.67C43.9528 38.5168 44 38.3426 44 38.1651Z"
								stroke="#00ABC8"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"></path>
							<path
								d="M38.1278 35.0639V28.5639L26 21.875"
								stroke="#00ABC8"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"></path>
							<path
								d="M43.8621 25.3284L32.1186 32L20.1384 25.3271"
								stroke="#00ABC8"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"></path>
							<path
								d="M32.1186 32L32.0012 45.3527"
								stroke="#00ABC8"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"></path>
						</svg>
					</div>
					<h4 class="feature-title">Compliance</h4>
					<p class="feature-description">
						We take the security of your data seriously and take every step to ensure your data is protected from
						unauthorized access
					</p>
				</div>
			</div>
		</div>
		<div class="image-info">
			<img src="people-at-hologram-screen.png" alt="people at hologram screen" />
		</div>
	</div>
</div>

<style>
	.title {
		font-size: 1.5em;
		color: var(--secondary-500);
		font-weight: bold;
		/* margin-bottom: 0; */
	}

	.subtitle,
	.feature-title {
		color: var(--description-text);
	}

	.feature {
		border-radius: 8px;
		padding: 16px;
		/* margin-bottom: 16px; */
	}

	.feature:hover {
		border: 1px solid #00abc8;
		cursor: pointer;
	}

	p {
		font-family: var(--font-family-secondary);
	}
	h4 {
		font-size: 1.5rem;
	}
	svg {
		width: 52px;
	}
	.inline-container {
		padding-top: 56px;
		padding-bottom: 72px;
	}

	.heading-section {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	.body-section {
		display: grid;
		grid-template-columns: 1.5fr 1fr;
		gap: 52px;
		padding-top: 48px;
	}

	.features {
		display: flex;
		flex-direction: column;
		gap: 32px;
	}

	.feature {
		display: grid;
		grid-template-columns: 64px 1fr;
		align-items: center;
	}

	.feature-description {
		display: grid;
		grid-column: 1 / -1;
	}

	.image-info img {
		width: 100%;
	}

	/* Media Queries */
	/* Mobile First */
	@media (min-width: 320px) and (max-width: 480px) {
		.inline-container {
			display: flex;
			flex-direction: column;
			padding-top: 32px;
		}

		.body-section {
			display: flex;
			flex-direction: column;
			gap: 32px;
		}

		.features {
			gap: 24px;
		}

		.feature {
			grid-template-columns: 52px 1fr;
			gap: 16px;
		}

		.feature-description {
			grid-column: 1 / -1;
		}
	}

	@media (min-width: 481px) and (max-width: 768px) {
		.inline-container {
			display: flex;
			flex-direction: column;
			padding-top: 32px;
			/* border: 1px solid red; */
		}

		.body-section {
			display: flex;
			flex-direction: column;
			gap: 32px;
		}

		.features {
			gap: 24px;
		}

		.feature {
			grid-template-columns: 52px 1fr;
			gap: 16px;
		}

		.feature-description {
			grid-column: 1 / -1;
		}
	}
</style>
